# Multi-Agent System

# LLM
openai

# Database
psycopg2-binary
pgvector

# HTTP
httpx
requests

# Ethereum
web3

# Utils
python-dotenv
pyyaml

# Testing   && static analysis
ruff 
mypy 
pytest 
pytest-asyncio 
pytest-cov 
deptry